/* MENU */

.menu-trigger {
    display: block;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    background: #000000;
    color: #ffffff;
}

.nav {
    display: none;
}

.nav-expanded {
    display: block;
}

.nav ul {
    width: 100%;
    padding: 0;
}

.nav li {
    font-size: 18px;
    float: none;
    border-bottom: 2px solid #fff;
}

.nav li:last-child {
    float: none;
    border-bottom: none;
}

/* HEADER */

#edit-span {
    display: none;
}

#logout {
    float: right;
}

#search{
    float: left;
}

/* CONTENT stylesheet*/

.content{
    padding: 0 5%;
}

.left-col{
    width: inherit;
    padding: 0 5%;
}
.right-col{
    display: none;
}

.article{
    display: block;
    width: inherit;
}
.article article:hover{
    transform: scale(1.0);
}
/* EDITOR */
.dashboard{
    padding: 15px 0;
}

.left-bar {
    width: 100%;
}

.right-bar{
    width: 95%;
}

#main-form > div:first-child {
    padding: 5px 0;
}

.delete-button{
    float: none;
}