html {
    /* to set footer on page bottom always */
    height: 100%;
}

@font-face {

    font-family: Futurica; /* имя шрифта для CSS правил */
    src: local("Futurica"), url(ft.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body {
    font-family: Quicksand, Futurica, Arial, monospace, sans-serif;
    margin: 0;
    min-width: 200px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

section {
    margin: auto;
    padding-bottom: 50px;
}

.content {
    padding: 0 15%;
}

footer {
    width: 100%;
    margin: auto;
    bottom: 0px;
    position: absolute;
    background: #000000;
    color: white;
}

.formButton {
    display: inline;
}

.button {
    cursor: pointer;
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 10px 15px;
    border: 0 none;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    background-color: #573855;
    transition: all 0.25s ease-in-out;
    color: #ffffff;
    outline: none;
}

.button:active, .button-active {
    background-color: #373855;
    position: relative;
    top: 1px;
    outline: none;
}

.input {
    background: #ffffff;
    font-size: 1em;
    line-height: 1.75em;
    padding: 3px;
    margin: 0 6px 5px 0;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 4px 0 rgba(176, 199, 221, .5);
    transition: all 0.4s linear;
}

.input:focus {
    border: 1px solid #373855;
    -webkit-box-shadow: 0 0 3px 0 #373855;
    -moz-box-shadow: 0 0 3px 0 #373855;
    box-shadow: 0 0 3px 0 #373855;
    outline: none;
}

.delete-button {
    float: right;
}

.left-col {
    width: 50%;
    display: inline-block;
    padding: 0 5% 0 15%;
}

.right-col {
    display: inline-block;
    position: relative;
    width: 27%;
    padding: 10px 12px;
    margin-top: 10px;
    vertical-align: top;
    color: #FFFFFF;
    background: #373855;
}

.right-col-stuck {
    position: fixed;
    z-index: 100;
    top: 0;
}

#footer {
    padding: 10px 15px;
}

#search{
    float:right;
}

#search .searchInput{
    font-size: 1em;
    padding: 2px;
    font-family: inherit;
    background: #000000;
    color: white;
    border: 1px #373855 solid;
    border-radius: 4px 0 0 4px;
    transition: all 0.25s ease-in-out;
}

#search .searchInput:focus{
    background: #373855;
    border: 1px #573855 solid;
    outline: none;
    transition: all 0.25s ease-in-out;
}

#search .search-icon{
    cursor: pointer;
    border: none;
    float: right;
    width: 2em;
    height: 1.9em;
    line-height: 2em;
    display: inline-block;
    outline: none;
    background: #373855 url("../Images/icons/Search.png") no-repeat center;
    background-size: 1.7em 1.5em;
    transition: all 0.25s ease-in-out;
    border-radius: 0 4px 4px 0;
}

#search .search-icon:hover{
    transition: all 0.25s ease-in-out;
    background-color: #573855;
}