html{
    /* to set footer on page bottom always */
    height:100%;
}
@font-face {

    font-family: Futurica; /* имя шрифта для CSS правил */
    src: local("Futurica"), url(ft.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body{
    font-family:  Quicksand, Futurica, Arial, monospace, sans-serif;
    margin: 0;
    min-width: 200px;
    height: 100%;
}

a { text-decoration: none; color: #FFFFFF; }
a:hover { text-decoration: underline; }

#wrapper{
    min-height: 100%;
    position: relative;
}

section{
    margin: auto;
    padding-bottom: 50px;
}

.content{
    padding: 0 15%;
}

footer{
    width: 100%;
    margin: auto;
    bottom: 0px;
    position: absolute;
    background: #000000;
    color: white;
}

.formButton{
    display: inline;
}

.button{
    cursor: pointer;
    color: #ffffff;
    background:#000000;
    text-align: center;
    padding: 10px 15px;
    border: 0 none;
    vertical-align: middle;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    background-color: #373855;
    transition: all 0.25s ease-in-out;
    color: #ffffff;
}

.button:active, .button-active {
    background-color: #373855;
    position: relative;
    top: 1px;
}

.delete-button{
    float: right;
}


.left-col{
    width: 50%;
    display: inline-block;
    padding: 0 5% 0 15%;
}

.right-col {
    display: inline-block;
    position: relative;
    width: 27%;
    padding: 10px 12px;
    margin-top: 10px;
    vertical-align: top;
    color: #FFFFFF;
    background: #373855;
}
.right-col-stuck{
    position:fixed;
    z-index:100;
    top:0;
}

#footer{
    padding: 10px 15px;
}