body{
    background: url("../Images/band3.png") no-repeat fixed center;
    background-size: cover;
}

#header{
    background: #000000;
    width: 100%;
}

#banner{
    background: url("/Images/alice.png") no-repeat center;
    background-size: 60% auto;
    padding-top:120px;
    max-width: 980px;
    margin: auto;
}

#debug-console{
    float: left;
    width: 100%;
    background: #000000;
    color: #ffffff;
}


