#content-reg{
    display: block;
    color: #ffffff;
    background: #373855;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 10px;
}


#regForm {
    display: block;
    width: auto;
    padding: 10px;
}

#regForm fieldset {
    padding: 2px;
    display: block;
    border:0;
}

#regForm label {
    font-weight: bold;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    line-height: 1.45em;
}

#regForm #checkbox {
    width: auto;
    margin: 1px 9px 0 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
}