.cd-intro{
    color: white;
    text-align: center;
    padding-top: 30%;
}

.cd-scrolling-bg {
    min-height: 100%;
}
.cd-fixed-bg{
    min-height: 100% !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat no-repeat !important;
    background-position: center center !important;
}
.cd-bg-1 {
    background-image: url("../Images/Band/alicedrive.jpg");
    padding-top: 30%;
}

/* DEFAULT PAGE */

.dp-bg-1{
    background-image: url("../Images/icons/bg-diagonal-lines.png"), url("../Images/band2.jpg");
    padding-top: 1%;
}
.dp-bg-2{
    background-image: url("../Images/icons/bg-diagonal-lines.png"),url("../Images/band.jpg");
    padding-top: 1%;
}
.dp-bg-3{
    background-image: url("../Images/icons/bg-diagonal-lines.png"),url("../Images/band3.jpg");
    padding-top: 1%;
}
